.app {
  .button {
    background-color: var(--primary-clr) !important;
    color: #faf4fc;
    text-transform: none;
  }

  .button:hover {
    background-color: gray;
    color: #47294c;
  }

  .icon-light {
    color: white;
  }

  /* Page Not Found */
  .page-not-found {
    background-color: #816f7d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .not-found-content {
    text-align: center;
  }

  .not-found-title {
    color: #faf4fc;
    font-weight: bold;
    font-size: 2rem;
    padding: 0px 0px 30px;
  }

  .nav-bar-title {
    font-size: 1rem;
    padding: 0px 10px;
  }

  .nav-bar-title.flex {
    font-size: 1.2rem;
    flex-grow: 1;
    font-weight: bold;
  }

  .search-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0;
    z-index: 10;
  }

  .nav-bar {
    .MuiToolbar-root {
      padding: 10px 24px;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .searched-search-panel {
    width: 100%;
    .search-panel {
      display: grid;
      padding: 20px 0;
      grid-template-rows: min-content 0px;
    }
  }

  .search-box {
    height: 100%;
  }

  .search-box-title-icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 25px;
  }

  .search-box.selected {
    background-color: white;
    border-radius: 23px;
    cursor: pointer;
  }

  .search-box.addtl-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .search-box-title {
    display: grid;
    text-align: left;
    margin-left: 15px;

    & p {
      text-align: left;
    }
  }

  .addtl-search-icon {
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
  }

  .search-box-title .name-top {
    font-size: 0.875rem;
    color: #8c8c8c;
  }

  .search-box-title .name-bottom {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  /* Text Area */
  .text-area {
    box-sizing: border-box;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    /* border-radius: 12px 12px 0 12px; */
    color: #1c2025;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.471);
  }

  .text-area:focus {
    border-color: black;
    outline: none;
  }
}

/* Page */
.page {
  height: 100vh;
}

/* Checkbox, Text */
.icon,
.text,
.chip.MuiChip-root,
.checkbox.MuiCheckbox-root.Mui-checked {
  color: #47294c;
}

.text.bold {
  font-weight: bold;
}

.addtl-search-icon {
  background-color: var(--primary-clr) !important;
}

.chip.MuiChip-root {
  margin-right: 5px;
  margin-bottom: 5px;
}

.chip.MuiChip-root.small {
  font-size: 0.65rem;
  padding: 0px 5px;
}

.chip.delete {
  color: #4d4d4d;
  background-color: #e6e1ff;
}

/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #47294c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.MuiDateRangePickerToolbar-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Image Uploader */
.image-uploader-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.image-uploader-div > label {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border: 2px dashed #ccc;
  padding: 10px;
  margin: 5px;
}

.image-uploader-div > label > .MuiTypography-root {
  text-align: center;
  justify-content: center;
}

.image-uploader-div input#image-upload {
  display: none;
}

.image-thumbnail {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.image-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-thumbnail > button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

.membership-container-height > div {
  /* height: calc(100vh - 120px); */
  padding-bottom: 20px !important;
}

.membership-container-height > div > div {
  /* background-image: linear-gradient(
    to right,
    rgb(246, 246, 246),
    rgb(236, 234, 234)
  ); */
  background-color: whitesmoke;
}

.label {
  position: relative;
  display: inline-block;
  background: #f4c4f3;
  background: -webkit-linear-gradient(to right, #cc33ca, #f4c4f3);
  background: linear-gradient(to right, #cc33ca, #e1bae1);

  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.label::before,
.label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  transform: translateY(-50%);
  background-color: #cc33ca;
}

.label::before {
  left: -10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #cc33ca transparent transparent;
}

.label::after {
  right: -10px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1bae1;
}

.label::before,
.label::after {
  border-color: #cc33ca transparent transparent transparent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.payment-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  z-index: 1001;
}

.payment-form > button {
  margin-top: 20px;
  background-color: blue;
  padding: 7px;
  border-radius: 10px;
  width: 100%;
  color: white;
}

@media screen and (max-width: 639px) {
  .membership-container-height > div > div {
    padding: 12px 0px 12px 0px;
  }

  .membership-container-height > div {
    /* height: calc(100vh - 100px); */
    padding-top: 20px;
  }
}
