.app {
    .button {
        background-color: #47294c;
        color: #faf4fc;
        text-transform: none;
    }
    
    .button:hover {
        background-color: gray;
        color:  #47294c;
    }
    
    .icon-light {
        color: white;
    }
    
    /* Page Not Found */
    .page-not-found {
        background-color: #816f7d;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .not-found-content {
        text-align: center;
    }
    
    .not-found-title  {
        color: #faf4fc;
        font-weight: bold;
        font-size: 2rem;
        padding: 0px 0px 30px;
    }

    .nav-bar-title {
        font-size: 1rem;
        padding: 0px 40px;
    }

    .nav-bar-title.flex {
        font-size: 1.2rem;
        flex-grow: 1;
        font-weight: bold;
    }
    
    .hero-section .search-box-title-icon {
        display: flex;
        align-items: center;
        padding: 10px 25px;
        cursor: pointer;
    }
    
    .hero-section .search-box.selected {
        background-color: white;
        border-radius: 23px;
        cursor: pointer;
    }
    
    .hero-section .search-box.addtl-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    
    .search-box-title {
        display: grid;
        text-align: left;
        margin-left: 15px;
    }
    
    .addtl-search-icon {
        width: 25%;
        height: 90%;
        color: white;
        background-color: #404040;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3px;
        cursor: pointer;
    }
    
    .search-box-title .name-top {
        font-size: 0.875rem;
        color: #8c8c8c;
    }
    
    .search-box-title .name-bottom {
        font-size: 1rem;
        color: #333333;
        font-weight: bold;
    }
    
    /* Text Area */
    .text-area {
        box-sizing: border-box;
        width: 100%;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 12px;
        /* border-radius: 12px 12px 0 12px; */
        color: #1C2025;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.471);
    }
    
    .text-area:focus {
        border-color: black;
        outline: none;
    }   
}


/* Page */
.page {
   height: 100vh;
}

/* Checkbox */
.checkbox.MuiCheckbox-root.Mui-checked {
    color: #47294c; /* Change to your desired color */
}

/* Loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #47294c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Image Uploader */
.image-uploader-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.image-uploader-div > label {
    cursor: pointer;
    width: 90px;
    height: 90px;
    border: 2px dashed #ccc;
    padding: 10px;
    margin: 5px;
}

.image-uploader-div > label > .MuiTypography-root {
    text-align: center ;
    justify-content: center ;
} 

.image-uploader-div input#image-upload {
    display: none;
}

.image-thumbnail {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.image-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-thumbnail > button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

