.landing-page .nav-bar {
    background-color: rgb(255, 255, 255);
    box-shadow: revert;
}

.landing-page{
    ::-webkit-scrollbar{
        width: 10px;
    }

    ::-webkit-scrollbar-track{
        border-radius: 20px;
        background-color: rgb(249 249 249);
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background-color: rgb(181 181 181);
    }
}

.hero-section {
    padding: 80px 20px 20px;
    /* background-color: rgb(235, 39, 39); */
    background-image: url('../../public/HomeScreenBg.png');
    position: relative;
    height: 100vh;
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */

}

.hero-content {
    align-items: center;
    color: black;
    height: 100%;
    display: grid;
    align-content: center;
    text-align: center;
    padding: 30px;
}

.hero-section .hero-content .text .hero-title {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Search Panel */
.search-panel {
    padding: 50px 0px 0;

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: #ffffff;
        border-radius: 20px;
        max-width: 1200px;
        margin: auto;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
        
        .grid-items{
            padding: 5px;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            transition: all 0.25s ease;

            &:has(+ .active) {
                border-right: none;
            }

            &.active{
                border-radius: 20px;
                box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
                border-right: none;
            }

            &:last-child{
                border-right: none;
            }
        }

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);

            .grid-items{
                &:nth-child(1),
                &:nth-child(2){
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                }
                &:nth-child(2){
                    border-right: none;
                }
            }
        }
        @media (max-width: 560px) {
            grid-template-columns: 1fr;

            .grid-items{
                border-right: none;
                &:nth-child(3){
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                }
            }
        }
    }

    .home-filter-panel{
        max-width: 1200px;
        margin: auto;
        padding-top: 15px;
        display: grid;
        z-index: 1;
        position: relative;

        &.one-column{
            grid-template-columns: 3fr 1fr;
            
            .home-time-filter{
                padding: 15px 20px 20px;
                display: grid;
                gap: 10px;
            }
        }
        &.two-column{
            grid-template-columns: 1fr 1fr;
        }
        &.three-column{
            grid-template-columns: 1fr 3fr;

            .home-date-filter{
                padding: 15px 20px 20px;

                p{
                    margin-bottom: 10px;
                }
            }
        }

        > .MuiPaper-root{
            border-radius: 20px;

            > .MuiGrid-root{
                margin: 0;
                width: 100%;
            }
        }

        .treatment-container{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            padding: 15px 20px 20px;
            gap: 20px;

            @media (max-width: 760px) {
                grid-template-columns: 1fr;
            }

            .home-treatments-filter{
                display: grid;
                height: fit-content;
                gap: 10px;
            }
        }

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            &.one-column,
            &.two-column,
            &.three-column{
                grid-template-columns: 1fr;
            }
        }
    }
}

.search-panel .MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
    background-color: #f2f2f2;
    border-radius: 23px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
}

.search-panel .container {
    padding-top: 20px;
    border-radius: 23px;
    min-height: 20vh;
    height: 32vh;
    max-height: 32vh;
}

.search-panel .container .grid {
    padding: 20px;
}

.search-panel .container .text {
    padding: 0px 20px;
}

.search-panel .treatment-grid {
    max-height: 25vh;
    overflow-y: auto;
    margin-top: revert;
    margin-left: revert;
    display: grid;
    gap: 10px;
}

/* Select Category */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    justify-items: center;
}
  
.category-container {
    position: relative;
    width: fit-content;
}

.category-container img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 4px solid transparent; 
    transition: border-color 0.2s;
    cursor: pointer;
}

.category-container.clicked img {
    border-color:  #dbdbdb;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 4px 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 26px;
    height: 26px;
    background-color: var(--primary-dark);
    color: #fffafa;
    line-height: 1;
    border-radius: 50%;
    font-weight: bold;
}

/* Explore our Category Section */
.landing-section {
    padding: 20px;
}

.category-link {
    display: inline-block;
}

.category-title {
    padding: 40px 20px;
}

.category-title .text {
    font-weight: bold;
}

.category-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform 0.3s ease-in-out;
}

.category-image:hover {
    transform: scale(1.1);
}


/* Our Recommended Picks Section */
.recommend-section{
    margin: 20px;
    padding: 40px;
}

.recommend-section .carousel-slider {
    display: flex;
    align-items: center;
    padding: 10px;
}
  
.card {
    width: 230px;
    padding: 20px;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px;
}

.recommend-section .card-content:last-child {
    padding: 10px 0px;
}

.card-title {
    text-align: left;
    margin-bottom: 10px;
}

.card-title.text {
    font-weight: bold;
}

.card-location {
    margin-bottom: 10px;
}

.card-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.card-rating .MuiRating-root {
    margin-right: 5px;
}

.card-tags {
    display: flex;
}

.recommend-section .arrow {
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ml-auto{
    margin-left: auto;
}

.flex-between-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg{
        cursor: pointer;
    }
}

.flex-start-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    
        svg{
            cursor: pointer;
        }
}

.filtered-panel{
    display: flex;
    border-radius: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    color: #616161;
    
    .filtered-items{
        padding: 5px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        
        p{
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 10px;
        }

        .icon-wrapper{
            padding: 6px;
            background-color: #47294c;
            border-radius: 50%;
            display: flex;
            color: #FFFFFF;
            
            svg{
                width: 20px;
                height: 20px;
            }
        }
        &:last-child{
            border: none;
        }
    }
}
  
/* Media queries */
@media screen and (max-width: 768px) {
    /* Mobile-specific styles */
    .hero-content {
        padding-left: revert;
        padding-right: revert;
        margin-left: revert;
        margin-right: revert;
    }

    .hero-content .icon {
        display: none;
    }

    .hero-content .search-box-title-icon {
        padding: 10px 0px;
    }
}

/* Tablet styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Tablet-specific styles */
    .hero-content {
        padding-left: revert;
        padding-right: revert;
        margin-left: revert;
        margin-right: revert;
    }
}


/* learn more page */

.learn-more{
    background-image: url(../assets/BackgroundImage/LearnMore.png);
    position: relative;
    height: 100vh;
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    padding: 60px 20px 20px;
}