.b-search-panel {
    padding: 20px 150px;
}

.b-search-panel .MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
    background-color: #f2f2f2;
    border-radius: 23px;
    border: 1px solid #ccc;
}