.homeCardDiv {
    width: 100%;
}

.homeCardDiv .searchBox.MuiGrid-item {
    padding: 0px;
    /* flex-grow: 1; */
}

.homeCardDiv .tabBoxGrid {
    padding: 50px;
    background-color: #F2C76E;
    margin: 20px 0px;
}

.homeCardDiv .searchBar {
    padding: 5px 0px;
    /* margin-top: auto; */
}

.homeCardDiv .searchButton {
    padding: 10px;
    background-color: #9c27b0;
}

.homeCardDiv .searchButton:hover {
    padding: 10px;
    background-color: #471151;
}