.rwdpDayBoxDesktop .rwdp-DayCircle-selected {
    background: #E6E1FF !important;
    color: #fff !important;
}

.rwdpDayBoxDesktop .rwdp-DayCircle {
    border: 2px #4D4D4D !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 40px !important;
    color: #4D4D4D !important;
    position: relative !important;

}

.rwdpPrevWeekArrow {
    border-right: 20px solid #4D4D4D;
    left: 0;
}

.rwdpNextWeekArrow {
    border-left: 20px solid #4D4D4D;
    right: 0;
}